{% extends 'Base.html' %}

{% block estilos %}
  <link rel="stylesheet" href="/static/css/Dashboard.css" media="screen">
{% endblock %}


{% block action %}
<section class="u-align-center u-clearfix u-image u-shading u-section-1" id="carousel_c016" data-image-width="3250" data-image-height="1500">
  <div class="u-align-left u-clearfix u-sheet u-sheet-1">
    <div class="u-border-2 u-border-white u-container-style u-group u-shape-rectangle u-group-1">
      <div class="u-container-layout u-container-layout-1">

        __app_entry__

        <a href="/inicio" data-page-id="917302295" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">salir</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
    
{% block eliminar %}
{% endblock %}

{% block editar %}
{% endblock %}


{% block dashboard %}
{% endblock %}
    
    
{% block dash %} 
    __config__
    __scripts__
    __renderer__
{% endblock %} 
    
    